* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 100px;
    background:linear-gradient(to left, #36002f, #04353a);
    color: #ffff;
    font: normal 20pt 'Times News Roman';
    text-align: center;
}
section {
    background: rgba(0, 0, 0, 0.50);
    width: 500px;
    padding: 50px;
    color: #ffffff;
    margin: auto;
    border-radius: 0px 0px 25px 0px;
    text-align: left;
    
}
footer {
    color: white;
    text-align: center;
    font-style: normal;
    font-size: 16pt;
    text-shadow: 0.1em 0.1em 0.05em rgba(0, 0, 0, 0%);
    margin-top: 0%;
}