* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinhando no Cross axis */
    height: 100vh;
    background:linear-gradient(to left, #36002f, #04353a);
}

header {
    padding: 50px;
}

h1 {
    color: #ffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
}
main {
    display: flex;
    flex-direction: row;
    height: 25%;
    background: rgba(0, 0, 0, 0.40);
    width: 500px;
    padding: 50px; /* Coloquei padding para conseguir uma borda mais distante do conteúdo */
    color: #ffffff;
    border-radius: 30px 0px 30px 0px;
}
/* Componentes do main */

#txtt {
    width: 110px;
}
#txtn {

}
#number {
    letter-spacing: 4px;
    font-size: 9.7pt;
    font-family: Arial, Helvetica, sans-serif;
}
#botao {
    padding: 1px 10px 1px 10px;
    font-size: 10pt;
    color: white;
    background: black;
    border-radius: 5px;
    border: solid black;
}
#botao:hover {
    background: linear-gradient(to left, #36002f, #04353a);
    border: solid #04353a;
}
footer {
    color: white;
    font: normal 16px Arial, Helvetica, sans-serif;
    text-shadow: 0.1em 0.1em 0.05em rgba(0, 0, 0, 0%);
}